<h1>Persnickety</h1>

<div class="row">
<img src="http://placekitten.com/g/200/300" class="span4">

<div class="span5">
<p>Persnickety is lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar condimentum ligula nec varius. Nulla vel massa vitae purus tincidunt consectetur laoreet ut lacus. Quisque blandit lorem et mauris malesuada ultricies. In at urna in purus lacinia scelerisque adipiscing vel lorem. Morbi urna nulla, tincidunt nec dapibus et, viverra in lectus. Pellentesque at augue justo, quis sollicitudin nunc. Etiam ut arcu eu ipsum dignissim ultricies. Ut non dolor ut sapien iaculis dignissim. Sed eu semper libero. Donec commodo sollicitudin dolor, in consequat metus luctus eu. Aenean eget purus mauris, ac sodales turpis. Nulla interdum mauris eu arcu viverra placerat.<p>
<div>

<%= button_to 'Login with Google', login_url, :method => :post, :class => 'btn btn-primary' %>