<html lang="en"><object type="{0C55C096-0F1D-4F28-AAA2-85EF591126E7}" cotype="cs" id="cosymantecbfw" style="width: 0px; height: 0px; display: block;"></object><head>
    <meta charset="utf-8">
    <title>Skye | Simplifying day-to-day scheduling. </title>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    #vertLine{
      border-left-width:thick; 
      border-left-style:solid; 
      border-left-color:black;
    }

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  <style type="text/css"></style><script type="text/javascript" id="waxCS">var WAX = function () { var _arrInputs; window.addEventListener('waxSetArr', function(evt) {_arrInputs=evt.detail;}); return { getElement: function (i) { return _arrInputs[i]; } } }(); function waxGetElement(i) { return WAX.getElement(i); }</script></head>

  <body id="home">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Skye</a>
          <a href = 'https://www.facebook.com/pages/Skye/151940868289771?ref=hl' class='fb-like-btn-wrapper'>
            <%= image_tag('fb_btn.png', :id => 'fb-like-btn')  %>
          </a>
          
          <!--
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div>
          -->

        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h3>Simplifying<br/>day-to-day scheduling</h1>
        <p align="left" style="padding-right:60%;">Powerful set of features for automatically managing all your tasks and events with a click of a button.</p>
        
        <form action="http://lvh.me:3000/login" class="button_to" method="post"><div><input class="btn btn-primary" type="submit" value="Login with Google" /><input name="authenticity_token" type="hidden" value="upTBo5Civu5MLsBPBufvBxUkpsL2klJS+fpoghL7bHw=" /></div></form>

      </div>

           <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <center>
            <img id="sync">
            <%= image_tag "sync.png" %>
            <h2>Sync</h2>
             <p style="padding-left:15%; padding-right:15%;">Connect with Google Calendar to retrieve all your events and tasks from multipSle calendars.</p>
            </center>
          
        </div>
        <div class="span4">
        <center>
          <%= image_tag "schedule.png" %>
          <h2>Schedule</h2>
         <p style="padding-left:15%; padding-right:15%;">Allow Skye to magically prioritize all your tasks and events and tell you when they fit in your schedule. 
          </p>
        </center>
          
       </div>
        <div class="span4">
        <center>
          <%= image_tag "sidekick.png" %><br/><br/>
          <h2>Side Kick</h2>
          <p style="padding-left:15%; padding-right:15%;">Ask Skye if you can fit in another event without interfering with other events.</p>
         
         </center> 
        </div>
      </div>

      <hr>
        <div class="row">
          <div class="span5">
              <h3>Upcoming Features</h3>
              <ul>  
                  <li><b>SplitUp</b> - Some tasks can be done in multiple parts so why not split them up for maximum scheduling capabality.</li>
                  <li><b>Anayltics</b> - Determine how much more or less time it takes you for certain events than the planned event time</li>
                  <li><b>Synchronize</b> from other desktop applications</li>
                  <li><b>Work Offline</b></li>
              </ul>
           </div> 
        
        <div class="span4" margin-right="10%">
          <center>
            <br />
            <h3>Want even more?</h3>
            <a href="mailto:sm5khan@uwaterloo.ca">
              <button class="btn">Get in touch!</button>
            </a> 
          </center>
          <hr>
        </div>

        <div class="span4">
         <center>
          <p>Team Members: Drew, Lucas, Saad, Waley</p>
        </center> 
        </div>

        </div>


      <hr>

      <footer>
        <p>© Skye 2013</p>
      </footer>

    </div> <!-- /container -->
</body></html>