#home {
  .brand {
    float: left;
  }

  .hero-unit {
    background-image: url('pattern2.png');
  }

  #fb-like-btn {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px !important;
    width: 30px !important;
  }

  .fb-like-btn-wrapper {
    height: 20px !important;
    width: 20px !important;
  }
}