#home
  - if @access_token.nil?
    = form_tag "/log_in" do
      = submit_tag "Log In"
  - else
    = @access_token

  - content_for :javascript do
    :javascript
      $(document).ready(function() {


      });